{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="h-screen flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-lg p-10 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Elfelejtett jelszó</h2>
      <p class="text-gray-600 mb-6">Kérlek, add meg az e-mail címedet, hogy elküldhessük a jelszó visszaállító linket.</p>
      <form method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700 mb-1">E-mail cím</label>
          {{ form.email|add_class:"w-full px-4 py-3 border border-gray-300 rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400" }}
        </div>
        <button type="submit" class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
          Visszaállító e-mail küldése
        </button>
      </form>
    </div>
  </div>
{% endblock %}
