{% extends 'profile_base.html' %}

{% load form_tags %}
{% block title %}Edit Profile{% endblock %}

{% block profile_content %}
<div class="max-w-xl mx-auto px-4 py-8 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold text-center text-indigo-600 mb-6">Profil szerkesztése</h1>
    <form method="post" enctype="multipart/form-data" class="mt-6 space-y-6 bg-white p-6 rounded-lg shadow-lg" id="profile-form">
        {% csrf_token %}
        
        <!-- Username mező -->
        <div class="mb-4">
            <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Username">
        </div>

        <!-- First name mező -->
        <div class="mb-4">
            <label for="first_name" class="block text-sm font-medium text-gray-700">First Name:</label>
            <input type="text" name="first_name" id="first_name" value="{{ profile.user.first_name }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="First Name">
        </div>

        <!-- Last name mező -->
        <div class="mb-4">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="{{ profile.user.last_name }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Last Name">
        </div>

        <!-- Profile Picture mező -->
        <div class="mb-4">
            <label for="profile_picture" class="block text-sm font-medium text-gray-700">Profile Picture:</label>
            <input type="file" name="profile_picture" id="profile_picture" class="hidden">
            <label for="profile_picture" class="inline-block mt-1 cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200">
                Fájl kiválasztása
            </label>
        </div>

        <!-- Bio mező -->
        <div class="mb-4">
            <label for="bio" class="block text-sm font-medium text-gray-700">Bio:</label>
            <textarea name="bio" id="bio" rows="4" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Tell us about yourself">{{ profile.bio }}</textarea>
        </div>

        <!-- Location mező -->
        <div class="mb-4">
            <label for="location" class="block text-sm font-medium text-gray-700">Location:</label>
            <input type="text" name="location" id="location" value="{{ profile.location }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Your location">
        </div>

        <!-- Birth Date mező -->
        <div class="mb-4">
            
            <label for="birth_date" class="block text-sm font-medium text-gray-700">Születési dátum:</label>
            <div class ="mt-1 block w-full p-2 border border-gray-300 rounded-md">
                {{ form.birth_date }} 
            </div>
        </div>     
        <!-- Email mező -->
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email cím:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
            {% if form.email.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>
        <!-- Phone Number mező -->
        <div class="mb-4">
            <label for="phone_number" class="block text-sm font-medium text-gray-700">Phone Number:</label>
            <input type="text" name="phone_number" id="phone_number" value="{{ profile.phone_number }}" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" placeholder="Phone Number">
        </div>

        <button type="submit" class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400" id="save-btn">Save Changes</button>
    </form>
</div>

  
{% endblock %}

